.App {
	text-align: center;
}
h1 {
	color: #c21111e2;
	font-weight: bold;
	font-size: 30px;
	text-shadow: 1px 1px 1px pink;
	text-align: start;
	padding: 10px 0 10px;
	margin-block-start: 0;
	margin-block-end: 0;
}
